.chat-container {
  width: 10s0vw;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a2e;
  color: #f1f1f1;
  font-family: 'Arial', sans-serif;
}

.chat-title {
  text-align: center;
  font-size: 2vw;
  color: #e0e0e0;
}

.chat-subtitle {
  text-align: center;
  font-size: 1vw;
  color: #a8a8a8;
}

.clear-chat-button {
  text-align: right;
}

.chat-messages {
  overflow-y: auto;
  flex-grow: 1;
  margin: auto;  /* Center the form */
  border-radius: 10px;
  background-color: #0f3460;
  width: 85%;  /* Set the width to 80% of the parent container */

}

.chat-message-wrapper {
  display: flex;
  align-items: flex-end;
  margin: 1em;

  display: flex;
  margin: auto;  /* Center the form */
  width: 98%;  /* Set the width to 80% of the parent container */

}

.bot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-message {
  padding: 1em;
  border-radius: 8px;
  font-size: 0.9vw;
  max-width: 70%;
  animation: slideIn 0.5s ease;  /* Animation */
}

.chat-message.user {
  background-color: #007BFF;
  text-align: right;
  margin-left: auto;
}

.chat-message.bot {
  background-color: #0f3460;
  text-align: left;
}

.chat-form {
  padding-top: 2dvh;
  display: flex;
  margin: auto;  /* Center the form */
  width: 80%;  /* Set the width to 80% of the parent container */
}


.chat-input {
  flex-grow: 1;
  padding: 1em;
  border-radius: 8px;
  border: none;
  font-size: 0.9vw;
}

.clear-button {
  padding: 1em;
  border: none;
  border-radius: 8px;
  margin-left: 1em;
  background-color: #4176ae66;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9vw;
}

.clear-button:hover {
  background-color: #373d43;
}

.chat-button {
  padding: 1em;
  border: none;
  border-radius: 8px;
  margin-left: 1em;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9vw;
}

.chat-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2vw;
}

@media screen and (max-width: 600px) {
  .chat-title {
    font-size: 5vw;
  }

  .chat-subtitle {
    font-size: 4vw;
  }

  .chat-message {
    font-size: 4vw;
  }

  .chat-input,
  .chat-button {
    font-size: 4vw;
  }

  .error-message {
    font-size: 4vw;
  }
}

@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


.loading-animation {
  padding: 2em;
  text-align: center;
  font-size: 1em;
  color: #fff;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
/* 
.loading-animation div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.loading-animation div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading-animation div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-animation div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
